@import "tailwindcss";

@theme {
  --color-background: #040423;
  --color-foreground: #c9cbff;
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #deecff;
}
.link:hover {
    text-decoration: underline;
}

.link {
    color: #b4c8ff;
}

.tiny-note {
    font-size: 0.75rem;
    color: #9ca3af;
    margin-top: 0.5rem;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 14px;
    background-color: #06041a;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, #360082, #6b2be3);
    border-radius: 6px;
    border: 3px solid #06041a;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(90deg, #4b00b5, #9162fc);
}

::-webkit-scrollbar-thumb:active {
    background: linear-gradient(90deg, #21004f, #4f21b0);
}

/* Text selection */
::selection {
    background: #4e009c;
    color: white;
}

::-moz-selection {
    background: #4e009c;
    color: white;
}
